<h2 class="text-2xl font-bold">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'w-11/12 flex w-full flex-col gap-1 items-center mt-24 border-2 p-4') do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="flex w-full flex-col">
    <%= f.label :name, class: 'text-semibold' %>
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'border-1 shadow-md h-8 outline-blue-500 p-1' %>
  </div>

  <div class="flex w-full flex-col">
    <%= f.label :email, class: 'text-semibold' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'border-1 shadow-md h-8 outline-blue-500 p-1' %>
  </div>

  <div class="flex w-full flex-col">
    <%= f.label :password, class: 'text-semibold' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", class: 'border-1 shadow-md h-8 outline-blue-500 p-1' %>
  </div>

  <div class="flex w-full flex-col">
    <%= f.label :password_confirmation, class: 'text-semibold' %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'border-1 shadow-md h-8 outline-blue-500 p-1' %>
  </div>

  <div class="bg-green-500 mt-4 text-center rounded-sm p-2 text-white">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
