<%= link_to "Back", user_posts_path, class: 'bg-gray-500 rounded-sm text-white self-start p-1 mb-2' %>
<div class="w-full flex flex-col gap-2 p-4 border-2 p-2">
  <div>
    <p class="text-md font-semibold">Post #<%= @post.id %> by <%= User.find(@post.author_id).name %></p>
    <div class="w-3/6 flex items-center gap-8">
      <p>Comments: <%= @post.comments_counter %></p>
      <p>Likes: <%= @post.likes_counter %></p>
    </div>
  </div>
  <div>
    <h2 class="text-xl font-bold"><%= @post.title %></h2>
    <p><%= @post.text %></p>
  </div>
</div>
<div class="flex gap-2 items-center">
  <%= button_to 'Like', user_likes_url(post_id: @post.id), class: "bg-blue-500 text-white p-2 my-1" %>
  <button class="bg-blue-500 text-white p-2 my-1" type="button">
    <%= link_to 'Comment', new_user_comment_path(post_id: @post.id) %>
  <button>
</div>
<ul class="w-full flex flex-col gap-2 p-4">
<% @post.latest_comments.each do |comment| %>
<li class="border-2 p-2">
  <p><%= User.find(comment.author_id).name %>: <%= comment.text %></p>
  <% if can? :manage, comment %>
    <%= link_to "Delete", user_comment_path(user_id: params[:user_id], id: comment.id), method: "delete", class: "bg-red-600 text-white font-bold rounded-sm" %>
  <% end %>
</li>
<% end %>
</ul>
<% if can? :manage, @post %>
  <%= link_to "Delete", user_post_path(user_id: params[:user_id], id: @post.id), method: "delete", class: "bg-red-500 text-white p-2" %>
<% end %>
